@media screen and (max-width: 600px) {

    body{
        height: 100dvh;
        margin: 2rem 0rem;
    }
    .search-nav {
        display: none;
        width: 100%;
        display: flex;
    }

    .nav-panel {
        padding: 10px;
        margin: 20px 0px;
    }

    .btn-dash-nav a {
        display: block;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0rem 1rem;
        padding: 0px 0px 50px 0px;

        /*Cards dos produtos*/

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .card {
                display: flex;
                border: 1px solid #ccc;
                border-radius: 10px;
                width: 40%;
                height: auto;
                display: flex;
                flex-direction: column;
                margin: 10px 5px;

                &:hover {
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    border-radius: 10px;
                }

                .textbox {
                    
                    display: none;
                    margin: 5px 10px;
                    height: 0px;

                    h1 {
                        font-size: 20px;
                    }

                    span {
                        display: flex;
                    }

                    p {
                        margin: 10px 0px;
                        overflow-y: scroll;
                        display: flex;
                    }
                }


                .button {
                    display: flex;
                    margin: 10px 0px;
                }

                .editar {
                    width: 100%;
                    padding: 10px;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    cursor: pointer;

                    &:hover {
                        background-color: #c9c9c9;
                    }
                }

            }
        }


    }
}

.mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    ul {
        display: flex;
        justify-content: center;
        background-color: #f0f0f0;
        width: 100%;
        border: 1px solid white;
        border-radius: 10px;

        li {
            margin: 15px;
            padding: 10px;
        }
    }
}

.cards-dash {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .card-dash {
        width: 150px;
        margin: 10px;
    }
}



/*Menu mobile*/


/*Menu lateral*/

.esquerda.abrir {
    display: none;
}

.esquerda {
    float: none;
    display: none;
    flex-direction: column;
    width: 70%;
    padding: 30px;
    height: 100%;
    background-color: whitesmoke;
}

#fechar {
    display: flex;
}

#menu-mobile-icon {
    display: flex;
}