@media screen and (max-width: 414px) {

    .search-nav {
        width: 100%;
        display: flex;
    }

    .nav-panel {
        padding: 10px;
        margin: 20px 0px;
    }
    
    header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 1rem;
    }

    .cards-dash{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .card-dash{
            width: 150px;
            margin: 10px;
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card {
            display: flex;
            border: 1px solid #ccc;
            border-radius: 0px 0px 10px 10px;
            width: 400px;
            display: flex;
            flex-direction: column;
            margin: 15px 5px;

            &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }

            button {
                align-items: center;
            }

            h1 {
                font-size: 20px;
            }

            .textbox {
                margin: 5px 10px;
                height: 0px;
            }

            .textbox p {
                margin: 10px 0px;
                overflow-y: scroll;
            }

            .button {
                display: flex;
                justify-content: center;
                margin: 10px 0px;
            }

            .editar {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
                cursor: pointer;
            }

            .editar:hover {
                background-color: #c9c9c9;
            }
        }

    }

    /*Menu mobile*/


    /*Menu lateral*/

    .esquerda.abrir {
        display: none;
    }

    .esquerda {
        float: none;
        display: none;
        flex-direction: column;
        width: 70%;
        padding: 30px;
        height: 100%;
        background-color: whitesmoke;
    }

    #fechar {
        display: flex;
    }

    #menu-mobile-icon {
        display: flex;
    }



}
