#new-prod-dash {
    background-color: #030213;
    color: white;

    &:hover {
        background-color: black;
    }
}
#button {
    background-color: whitesmoke;
    color: black;
    align-items: center;
    padding: 10px;
    border-radius: 10px;

    &:hover {
        background-color: #ccc;
    }
}

#descricao-painel {
    height: 80px;
    padding: 10px 0px;
}

#descricao-loja {
    padding: 10px 0px;
    overflow-y: hidden;

}

#emailadm {
    font-size: 10px;
    overflow-y: hidden;
    max-height: 20px;
}

#empresaorigem {
    font-size: 8px;
    text-align: center;
}

#new-btn:hover {
    color: white;
    background-color: #0062ff;
}

#fechar {
    display: none;
}

#menu-mobile-icon {
    display: none;
}

#login-button {
    color: white;
    background-color: #0866FF;
    width: 100%;

    &:hover {
        color: white;
    }
}

#desc-loja {
    width: 100%;
    height: 100px;
    padding: 10px;
    outline: none;
    border: none;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    &:focus {
        border-color: #0866FF;
        border-bottom: 1px solid #0866FF;
    }
}

#btn-out button:hover {
    background-color: red;
    border: 1px solid red;
    color: white;
}

#logo-main {
    font-size: 40px;
    font-weight: bold;
    color: #0866FF;
}

#left-bar {
    text-decoration: none;
    color: black;
}

