/*Novo produto*/
.new-prod.abrir {
    display: flex;
}

.new-prod {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    z-index: 998;
}

.modal-prod form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 600px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
}

.modal-prod input {
    margin: 5px 0px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#submit {
    width: 50%;
}

/* Modal edit */

.modal-edit.abrir {
    display: flex;
}

.modal-edit {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    z-index: 998;
}

.editar-modal {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    padding: 50px;

    input {
        padding: 10px;
        margin: 5px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: whitesmoke;
    }
}

/* Preferencias/cog */

.cog.abrir {
    display: flex;
}

.cog {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
    background-color: whitesmoke;

}

.panel-cog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 80px;
    width: 50%;
    background-color: white;

    form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input {
        margin: 10px 0px;
        width: 100%;
        outline: none;
    }
}


.infos-cog-user {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;

    input {
        outline: none;
        border: none;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid white;

        &:focus {
            border-color: #0866FF;
            border-bottom: 1px solid #0866FF;
            background-color: white;
        }
    }
}



.checkbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0px;
    border: 1px solid #ccc;
}

.content-check {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.title-check {
    width: 80%;
}

.input-check input,
label {
    cursor: pointer;
    width: 100px;
}

@media (max-width: 600px) {

    /*Novo produto*/
    .new-prod.abrir {
        display: flex;
    }

    .new-prod {
        display: none;

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            border: none;
            background-color: transparent;
        }

        input {
            margin: 5px 0px;
            padding: 15px;
            width: 400px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
    }

    #submit {
        width: 50%;
    }

    /* Modal edit */

    .modal-edit.abrir {
        display: flex;
    }

    .modal-edit {
        display: none;
        flex-direction: column;
        width: 100%;
        border: none;
        background-color: whitesmoke;
    }

    .editar-modal {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: none;
        background-color: transparent;
        padding: 50px;

        input {
            margin: 5px 0px;
            padding: 15px;
            width: 400px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: white;
        }
    }


    /* Preferencias/cog */

    .cog.abrir {
        display: flex;
    }

    .cog {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;

    }

    .panel-cog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 20px;
        width: 100%;
        background-color: transparent;


        form {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        input,
        textarea {
            margin: 10px 0px;
            padding: 15px;
            width: 100%;
            outline: none;
            background-color: white;
        }

    }


    .infos-cog-user {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px;

        input {
            outline: none;
            border: none;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid white;

            &:focus {
                border-color: #0866FF;
                border-bottom: 1px solid #0866FF;
            }
        }

    }

    .checkbox {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px 0px;
        border: 1px solid #ccc;
    }

    .content-check {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
    }

    .title-check {
        width: 80%;
    }

    .input-check input,
    label {
        cursor: pointer;
        width: 100px;
    }

}